.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  flex-direction: column;
  cursor: grab;
  border-radius: 12px;
  border: 1px solid green;
  width: 200px;
  height: 300px;
}

.title {
  text-align: center;
  margin: 2px auto;
}

.img {
  width: 150px;
  cursor: pointer;
}
