.card {
  width: 18rem;
  margin: 2rem 0;
  @media screen and (max-width: 768px) {
    width: 12rem;
  }
  @media screen and (max-width: 425px) {
    width: 8rem;
  }
}

.img {
  height: 25rem;
  margin: 0 auto;
  @media screen and (max-width: 768px) {
    height: 16rem;
  }
  @media screen and (max-width: 425px) {
    height: 10rem;
  }
}
