.header {
  margin: 1rem 0;
  background-color: #e2d1f9cf;
  color: #317773;
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  & a {
    color: #317773;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 0.25rem 1rem;
    border-radius: 0.3rem;
    vertical-align: center;
    @media screen and (max-width: 768px) {
      font-size: 1.2rem;
    }
    @media screen and (max-width: 425px) {
      font-size: 1rem;
    }
    &:hover {
      color: #e2d1f9cf;
      background-color: #317773;
    }
  }
}

.title {
  text-align: center;
  @media screen and (max-width: 768px) {
    font-size: 1.5rem;
  }
  @media screen and (max-width: 425px) {
    font-size: 1rem;
  }
}
