.app {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(139, 139, 207, 1) 24%,
    rgba(128, 0, 255, 1) 96%
  );
}

.header {
  width: 100%;
  height: 70px;
  background-color: antiquewhite;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerTitle {
  font-size: 35px;
  color: black;
}

.main {
  background-color: rgb(176, 215, 232);
  padding: 50px 0;
  min-height: 100vh;
}

.mainTitle {
  font-size: 40px;
  text-align: center;
  font-weight: 500;
}

.content {
  padding-top: 35px;
  margin: 0 auto;
  flex-wrap: wrap;
  width: 75%;
  display: flex;
  justify-content: space-around;
}

.choseBlock {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.btnBlock {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.message {
  text-align: center;
  font-size: 25px;
}

.reshuffle {
  margin-left: 15px;
}
