* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  min-height: 100vh;
  max-width: 100vw;
  padding: 0 5%;
  border: 0.35rem solid #e2d1f9cf;
  background-color: #317773;
}

.wrapper {
  background-color: #e2d1f9cf;
  border-radius: 5px;
  min-height: 90vh;
  margin: 0 auto;
  display: block;
  min-width: 100%;
}
